<section class="experience">
  <div class="container container-experience">
    <div class="wrapper-text">
      <h2 class="experience-title">Coffee Moments</h2>
      <p class="experience-text">
        Experience the warmth and community of CoffeeJoy.
      </p>
    </div>
    <ul class="experience-list-photo">
      <li class="photo-section4">
        <img
          class="photo"
          srcset="/img/cart1.jpg 1x, /img/cart1@2x.jpg 2x"
          src="/img/cart1.jpg"
          alt=" a cup of coffe"
        />
      </li>
      <li class="photo-section4">
        <img
          class="photo"
          srcset="/img/cart2.jpg 1x, /img/cart2@2x.jpg 2x"
          src="/img/cart2.jpg"
          alt="croissant and coffe"
          width=""
        />
      </li>
      <li class="photo-section4">
        <img
          class="photo"
          srcset="/img/cart3.jpg 1x, /img/cart3@2x.jpg 2x"
          src="/img/cart3.jpg"
          alt="croissant and coffe"
          width=""
        />
      </li>
      <li class="photo-section4">
        <img
          class="photo"
          srcset="/img/cart4.jpg 1x, /img/cart4@2x.jpg 2x"
          src="/img/cart4.jpg"
          alt="croissant and coffe"
          width=""
        />
      </li>
      <li class="photo-section4">
        <img
          class="photo"
          srcset="/img/cart5.jpg 1x, /img/cart5@2x.jpg 2x"
          src="/img/cart5.jpg"
          alt="croissant and coffe"
          width=""
        />
      </li>
      <li class="photo-section4">
        <img
          class="photo"
          srcset="/img/cart6.jpg 1x, /img/cart6@2x.jpg 2x"
          src="/img/cart6.jpg"
          alt="croissant and coffe"
          width=""
        />
      </li>
      <li class="photo-section4">
        <img
          class="photo"
          srcset="/img/cart7.jpg 1x, /img/cart7@2x.jpg 2x"
          src="/img/cart7.jpg"
          alt="croissant and coffe"
          width=""
        />
      </li>
    </ul>
  </div>
</section>
