h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

img{
    display: block;
    
}

button{
    cursor: pointer;
    border: none;
    padding: 0;
}
address{
    font-style: normal;
}
a {
    text-decoration: none;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    
}